
 .header__background {
     background-image: url("../img/fondo.png");
     background-position: center;
     background-size: cover;
     height: 80vh;
     color: #f6f8f6;
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }

 .header__tittle span {
     color: #13ec5b;
     display: flex;
     justify-content: center;
 }

 .header__tittle {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 0.90rem;

 }

 .material-symbols-outlined {
     font-size: 2.3rem;
     padding: 1rem;
     background-color: #1d2f23;
     border-radius: 1rem;
     border: 1px solid #3e3e3e;
 }

 .header__overlay {
     width: 100%;
     background: linear-gradient(to bottom,
             rgba(18, 36, 24, 0) 0%,
             #122418 40%,
             #183421 100%);
 }

main{
         background-color: #183321;

}


.main__parrafo{
    color: #a0b3c6;
   
}


.main__botones .btn{
    padding: 1rem;
    border-radius: 15px;
    
}

.main__botones--color1{
    background-color: #13ec5b;
}
.main__botones--color2{
    background-color: transparent;
    color:white;
    border: 1px solid #3e3e3e;
}